:host {
  position: absolute;
  background-color: #1E2C37;
  z-index: 9;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;

  transition: all 1s;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &.entered {
    left: 101%;
  }

  .claim{
    margin: 20px 0;
    letter-spacing: 10px;
    color: #000;
    font-size: 1rem;

    transition: all .5s;
  }


  .info {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Jura;
    letter-spacing: 1px;
    font-style: italic;
    font-size: .9rem;
    font-weight: 100;
    color: rgba(100, 138, 154, 0.77);
    transition: all 1s;
    transition-delay: 0s;
    opacity: 0;

    &.on{
      opacity: 1;
    }
  }


  .shadow {
    background-color: #293C4B;
    border-radius: 50%;
    transition: all .5s;
    cursor: pointer;

    &:hover + span {
      letter-spacing: 12px;
      color: #ff6c878f;
    }

    &:hover + span + .info {
      transition-delay: .3s;
      opacity: 1;
    }

    &:hover {
      box-shadow: 0px -1px 54px 0px #ff6c87af;
      -webkit-box-shadow: 0px -1px 54px 0px #ff6c87af;
      -moz-box-shadow: 0px -1px 54px 0px #ff6c87af;
    }

    &:active {
      box-shadow: 0px -1px 74px 0px #8ddefc;
      -webkit-box-shadow: 0px -1px 74px 0px #8ddefc;
      -moz-box-shadow: 0px -1px 74px 0px #8ddefc;
    }

    .enter {
      position: relative;
      height: 120px;
      width: 120px;
      border-radius: 50%;
      background-color: #293C4B;
      overflow: hidden;

      display: flex;
      justify-content: center;
      align-items: center;

      transition: all .5s;

      box-shadow: 0px -1px 24px 0px rgba(0,0,0,0.5);
      -webkit-box-shadow: 0px -1px 24px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px -1px 24px 0px rgba(0,0,0,0.5);


      svg {
        width: 40px;
        z-index: 3;
        opacity: .4;
        margin-right: 10px;
        margin-top: 10px;
        transition: all .5s;

        filter: drop-shadow(2px 2px 10px rgb(0 0 0 / .7));
      }


    &:hover {

      box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.8);
      -webkit-box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.8);
      -moz-box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.8);

      svg {
        fill: #ff6c87!important;
        opacity: 1;
      }

      .wave {
        top: -150px;
      }

      span {
        color: #8ddefc;
      }
    }

    &:active {

      /*
      box-shadow: 0px -1px 34px 0px #ff6c873f;
      -webkit-box-shadow: 0px -1px 34px 0px #ff6c873f;
      -moz-box-shadow: 0px -1px 34px 0px #ff6c873f;
      */



      span {
        color: #ff6c87;
        text-shadow: #ff6c87af 0px 0px 16px;
      }

      svg {
        fill: #8ddefc!important;
        opacity: 1;
        transform: rotate(45deg);
      }


    }

    span {
      position: relative;
      z-index: 1;
      color: #8ddefc;
      font-family: Jura;
      font-size: .8rem;
      letter-spacing: 7px;
      padding-left: 10px;

    }


    .wave {
      width: 270px;
      height: 270px;
      //      background-color: #444857;
      box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
      position: absolute;
      left: 0;
      top: -100px;
      transition: 0.4s;
      z-index: 2;

      &::before, &::after {
        width: 200%;
        height: 200%;
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -75%);
      }

      &::before {
        border-radius: 45%;
        background-color: #FF6C875f;
        animation: wave 5s linear infinite;
      }

      &::after {
        border-radius: 40%;
        background-color: #FF6C87af;
        animation: wave 10s linear infinite;
      }
    }
  }

  }
}

@keyframes wave {
  0% {
    transform: translate(-50%,-75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%,-75%) rotate(360deg);
  }
}
